@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply bg-background text-foreground;
}

/* Theme transition */
* {
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

@layer base {
  @keyframes pingpong {
    0%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-15px);
    }
    40% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-7px);
    }
    80% {
      transform: translateY(0);
    }
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25%);
    }
  }

  .logo-dot {
    transition: all 0.3s ease;
  }

  .logo-dot:hover {
    animation: pingpong 1s ease infinite, bounce 0.8s infinite;
  }
}

@layer base {
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(5%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-5%);
    }
  }

  .testimonial-slide {
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .testimonial-slide.active {
    animation: slideIn 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  .testimonial-slide.inactive {
    animation: slideOut 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}

.bounce-animation:hover {
  animation: bounce 0.5s ease-in-out infinite;
}
