@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  @keyframes pingpong {
    0%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-15px);
    }
    40% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-7px);
    }
    80% {
      transform: translateY(0);
    }
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(-12px);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .logo-dot {
    transition: all 0.3s ease;
  }

  .logo-dot:hover {
    animation: pingpong 1s ease infinite, bounce 0.8s infinite;
  }
}

@layer base {
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(5%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-5%);
    }
  }

  .testimonial-slide {
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .testimonial-slide.active {
    animation: slideIn 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  .testimonial-slide.inactive {
    animation: slideOut 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}

/* Custom dark mode styles */
.dark\:data-\[state\=unchecked\]\:bg-gray-800[data-state=unchecked]:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(232, 232, 232, 1);
}

.dark\:bg-gray-950:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(27, 189, 111, 1);
}

/* Logo bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.logo-dot:hover {
  animation: bounce 0.5s infinite;
}
